
Tap_planet/Assets/AddressableAssetsData/AssetGroups/Localization-Assets-Shared.asset
Tap_planet/Assets/AddressableAssetsData/AssetGroups/Localization-String-Tables-English (en).asset
Tap_planet/Assets/AddressableAssetsData/AssetGroups/Localization-String-Tables-Swedish (sv).asset
